{% extends 'base.html'%}

{% block content%}
    <div class="contenedor">
        <div class="bloque">
            <h2 class="bloque__titulo">Query 3: Identificar los países donde la población que reside en ciudades representa el mayor porcentaje en relación con la población total del país, destacando aquellos con la mayor concentración de población en las ciudades.
            </h2>
        </div>

        <div class="contenedor">
            <div class="bloque">
            <h2 class="tabla__titulo">Tabla de los Resultados</h2>
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Pais</th>
                        <th> Poblacion del pais </th>
                        <th> Poblacion de sus ciudades </th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultado in consulta_3 %}
                    <tr>
                        <td>{{ resultado.country_name }}</td>
                        <td> {{ resultado.country_population}}</td>
                        <td>{{ resultado.total_city_population }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div class="bloque">
            <h2 class="tabla__titulo">Análisis</h2>
            <div class="bloque__contenido">
                <p class="bloque__descripcion">
                    Podemos observar que los países donde la 
                    mayoría de la población reside en sus ciudades 
                    suelen ser territorios extensos (con algunas 
                    excepciones como es el caso de Japón, donde las 
                    condiciones geograficas favorecen la densidad urbana). 
                    Este patrón refleja el impacto de la urbanización y de 
                    la geografía en la distribución poblacional.
                </p>
                <div class="bloque__texto">
                    <p><code>
                        resultados = (
                            session.query(Country.name, Country.population, func.sum(City.population))
                            .join(City, Country.code == City.countryCode)
                            .group_by(Country.name)
                            .order_by(func.sum(City.population).desc())
                            .limit(10)
                            .all()
                        )                        
                    </code></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}