{% extends 'base.html'%}

{% block content %}
<main class="queries contenedor">
    <a href="#" class="query">
        <div class="query__imagen">
            <img src="../static/hero-world.webp" alt="Imagen" class="query__img">
            <p class="query__num">#1</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Nombre del Query</h3>
            <p class="query__descripcion">Una breve descripcion  del query, Una breve descripcion  del query, Una breve descripcion  del query</p>
        </div>
    </a>

    <a href="#" class="query">
        <div class="query__imagen">
            <img src="../static/hero-world.webp" alt="Imagen" class="query__img">
            <p class="query__num">#2</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Nombre del Query</h3>
            <p class="query__descripcion">Una breve descripcion  del query, Una breve descripcion  del query, Una breve descripcion  del query</p>
        </div>
    </a>

    <a href="#" class="query">
        <div class="query__imagen">
            <img src="../static/hero-world.webp" alt="Imagen" class="query__img">
            <p class="query__num">#3</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Nombre del Query</h3>
            <p class="query__descripcion">Una breve descripcion  del query, Una breve descripcion  del query, Una breve descripcion  del query</p>
        </div>
    </a>

    <a href="#" class="query">
        <div class="query__imagen">
            <img src="../static/hero-world.webp" alt="Imagen" class="query__img">
            <p class="query__num">#4</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Nombre del Query</h3>
            <p class="query__descripcion">Una breve descripcion  del query, Una breve descripcion  del query, Una breve descripcion  del query</p>
        </div>
    </a>

    <a href="#" class="query">
        <div class="query__imagen">
            <img src="../static/hero-world.webp" alt="Imagen" class="query__img">
            <p class="query__num">#5</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Nombre del Query</h3>
            <p class="query__descripcion">Una breve descripcion  del query, Una breve descripcion  del query, Una breve descripcion  del query</p>
        </div>
    </a>
</main>
{% endblock %}