{% extends 'base.html'%}

{% block content %}

<div class="queries__texto contenedor">
    <h2 class="queries__titulo">Datos interesantes sobre el mundo</h2>
</div>

<main class="queries contenedor">
    <a href="{{ url_for('consulta_1')}}" class="query">
        <div class="query__imagen">
            <img src="../static/query1.webp" alt="Imagen" class="query__img">
            <p class="query__num">#1</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">GNPs más bajos</h3>
            <p class="query__descripcion">Los 10 países con el Producto Interno Bruto (GNP) más bajo y analizar cómo se relaciona esta condición económica con su forma de gobierno</p>
        </div>
    </a>

    <a href="{{ url_for('consulta_2')}}" class="query">
        <div class="query__imagen">
            <img src="../static/query2.webp" alt="Imagen" class="query__img">
            <p class="query__num">#2</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Ciudades más pobladas</h3>
            <p class="query__descripcion">Las 5 ciudades más pobladas por cada continente.</p>
        </div>
    </a>

    <a href="{{ url_for('consulta_3')}}" class="query">
        <div class="query__imagen">
            <img src="../static/query3.webp" alt="Imagen" class="query__img">
            <p class="query__num">#3</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Concentración en ciudades</h3>
            <p class="query__descripcion">Los países donde la población que reside en ciudades representa el mayor porcentaje en relación con la población total del país</p>
        </div>
    </a>

    <a href="{{ url_for('consulta_4')}}" class="query">
        <div class="query__imagen">
            <img src="../static/query4.webp" alt="Imagen" class="query__img">
            <p class="query__num">#4</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Esperanza de vida por continente</h3>
            <p class="query__descripcion">La esperanza de vida promedio de los países en cada continente</p>
        </div>
    </a>

    <a href="{{ url_for('consulta_5')}}" class="query">
        <div class="query__imagen">
            <img src="../static/query5.webp" alt="Imagen" class="query__img">
            <p class="query__num">#5</p>
        </div>
        <div class="query__texto">
            <h3 class="query__titulo">Diversidad linguística</h3>
            <p class="query__descripcion">Los países con la mayor diversidad lingüística, medida por el número de idiomas hablados, en ciudades con alta población.</p>
        </div>
    </a>
</main>
{% endblock %}